.menu-icon {
  width: 50px;
}

.all-the-articles {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
}

.individual-article {
  border: 1px solid;
  cursor: pointer;
  width: 12em;
  height: 16em;
}

.individual-article-image {
  padding: 0.5em;
  width: 10em;
  margin: auto;
  text-align: center;
}

.article-text {
  font-size: 0.8em;
}
